<div class="row">
  <div class="col-md-12">
    <section class="panel">
      <header class="panel-heading">Editar usuario <strong><< <%=@user.name %> >></strong> </header>
      <div class="panel-body">
        <div class="position-center">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
