<div class="row">
  <div class="col-lg-7 col-md-7 col-xs-12">
    <section class="panel">
      <header class="panel-heading">
        Buscar productos
        <span class="tools pull-right">
        </span>
      </header>
      <div class="panel-body">
        <%= render partial: 'layouts/search_form', locals: { search_entity: 'items', word: "Artículo" } %>
      </div>
    </section>
  </div>


  <div class="col-lg-5 col-md-5 col-xs-12">
    <section class="panel">
      <header class="panel-heading">
        Productos agregados
        <span class="tools pull-right">
          <a class="item-text_panel">Actualizar</a>
          <a class="item-text_panel">Descartar venta</a>
        </span>
      </header>
      <div class="panel-body">
        <%= render partial: 'layouts/search_form', locals: { search_entity: 'items', word: "Artículo" } %>



      </div>
    </section>
  </div>




</div>
