<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Inicio</th>
      <th scope="col">Fin</th>
    </tr>
  </thead>
  <tbody>
    <% @price_rules.each do |price| %>
      <tr>
        <td>1</td>
        <td><%= price.title %></td>
        <td><%= price.starts_at %></td>
        <td><%= price.ends_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
