<!--Sidebar start-->
<aside>
  <div id="sidebar" class="nav-collapse">
  <!-- sidebar menu start-->
    <div class="leftside-navigation" tabindex="5000" style="overflow: hidden; outline: none;">
      <ul class="sidebar-menu" id="nav-accordion">
        <li>
          <%= link_to root_path, :class => current_page?(root_path) ? "active" : "" do %>
            <i class='fa fa-dashboard'></i> Dashboard
          <% end %>
        </li>
        <li>
          <%= link_to products_path, :class => current_page?(products_path) ? "active" : "" do %>
            <i class='fa fa-shopping-cart'></i> Productos
          <% end %>
        </li>


      </ul>
    </div>
    <!-- sidebar menu end-->
    <div id="ascrail2000" class="nicescroll-rails" style="width: 3px; z-index: auto; cursor: default; position: absolute; top: 0px; left: 237px; height: 297px; opacity: 0; display: block;">
      <div style="position: relative; top: 24px; float: right; width: 3px; height: 132px; background-color: rgb(31, 181, 173); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div>
    </div>
    <div id="ascrail2000-hr" class="nicescroll-rails" style="height: 3px; z-index: auto; top: 294px; left: 0px; position: absolute; cursor: default; display: none; width: 237px; opacity: 0;">
      <div style="position: relative; top: 0px; height: 3px; width: 240px; background-color: rgb(31, 181, 173); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div>
    </div>
  </div>
</aside>
<!--Sidebar end-->
